*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.todo{
    margin: auto;
    width: 95%;
    height: 100%;
}
.header{
    width: 90%;
    margin: auto;
    height: 100%;
    margin-top: 5px;
    margin-bottom: 1%;
}
hr{
    background-color: #F47321;
    margin: auto;
    width: 90%;
    height: 20px;
}
.container{
    margin: auto;
    width: 90%;
    height: 100%;
    display: grid;
    gap: 20px;
    margin-top: 2%;
    grid-template-columns: 1fr 15px 10vw;
}

.container div{
    width: 100%;
}
.section1{
    margin: auto;
    width: 90%;
}
.linea{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}
.span1{
    width: 100%;
    height: 30%;
    background-color: #209DA5;
}
.span2{
    width: 100%;
    height: 30%;
    background-color: #8CC63E;
}
.span3{
    width: 100%;
    height: 40%;
    background-color: #F6A22C;
}
.div2 .section1{
    width: 100%;
    height: 100%;
    
}
.section1 h1{
    font-size: 2vw;
    
}
.section1 h1 span{
    color: #209DA5;
}
.infos1{
    margin-top: 1%;
    display: grid;
    grid-template-columns: 1fr 300px;
    
}
.infos1 p{
    font-size: 1vw;
}
.barra_lateral{
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 1px;
}
.barra_lateral div{
 height: 50px;
 background-color: #F47321;
}

/* session 2 */
.sesion2{
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.sesion2 div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.textos2 p{
    font-size: 1.2vw;
}
.textos2 h1{
 font-size: 2vw;
 color: #209DA5;
 text-transform: uppercase;
}
.textos2 h2{
    font-size: 1.5vw;
}
/* sesion 3 */

.sesion3{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.sesion3 div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sesion3 img{
    width: 50%;
}
.sesion3 h1{
    color: #8CC63E;
    font-size: 2vw;
}
.sesion3 p{
    font-size: 1.2vw;
}
/* S4 */
.s4{
    width: 100%;
    text-align: center;
}
.s4 h2{
    color: #8CC63E;
    font-size: 1.3vw;
}
.s4 h1{
    color: #8CC63E;
    text-decoration: underline;
    font-size: 3vw;
}
/* sesion 4 */

.sesion4 {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.sesion4 .d1s4, .sesion4 .d3s4 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sesion4 .d1s4 div, .sesion4 .d3s4 div{
    display: flex;
    gap: 5px;
}
.sesion4 h1{
    font-size: 3vw;
}
.sesion4 p{
    font-size: 1vw;
}
.sesion4 span{
    font-weight: bold;
    font-size: 1.3vw;
}.d2s4{
 display: flex;
 justify-content: center;
}
